<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<link href="../../Themes/OrangeGrey/Styles.css" rel="stylesheet" type="text/css" />
</head>

<body onresize="adjustRootDivSize()" onload="adjustRootDivSize()">
	<script type="text/javascript" src="/Scripts/Scripts.js">

	</script>
	<div class="page" id="rootDiv" style="width: 756px; height: 1000px;">
		@{ Html.RenderAction("TabContent", "NTab", new { title = "Example" }); }
		<div id="TabControl_MultiViewHolder" style="height:100%;border-right: 1px solid rgb(155, 155, 155); overflow: auto;">
			<table id="exampleImageTable" style="width: 442px; vertical-align: top;" summary="Image and description table">
				<tr>
					<td id="exampleImageCell" class="ImageCell" style="width: 442px; vertical-align: top;">
						@RenderSection("ExampleContent", required: false)
					</td>
				</tr>
				<tr>
					<td id="exampleDescriptionCell" style="width: 442px; vertical-align: top;" class="Description">
						@RenderSection("ExampleDescription", required: false)
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
