<!-- Recognized tags -->
<description>
	<p>
		This example demonstrates the built-in support for basic layouts, which is 
		implemented by the NBatchLayout class.
	</p>
	<p>
		The NEntityLayout is used to wrap the most commonly used operations for layout, 
		which are a must for every drawing application. These are:
		<ol>
			<li>
				Align operations
			<li>
				Resize operations
			<li>
				Spacing operations
			<li>
				Center in document operations
			</li>
		</ol>
	<P></P>
	<p>
		To experiment with their behavior just select the nodes to which you want 
		to apply some of these operations and click on the respective button in the 
		Example form.
	</p>
	<p>
		It is also worth mentioning that most of the operations take into account the 
		current selection anchor. For example if you select several nodes and click on 
		the <b>Align - Lefts</b> button, the nodes will be aligned to the left side of 
		the anchor node. The anchor node is easily distinguished, because its handles 
		are displayed with inverted colors.
	</p>
	<p>
		Note that the operations record history transactions - after you perform some 
		layout operation, just expand the Undo list (located in the Standard Commands 
		toolbar) to see the transaction that was recorded.
	</p>
	<p>
		All layout operations take into account the node resize and move permissions.
	</p>
</description>
