<!-- Recognized tags -->
<description>
	<p>
        The symmetrical layout represents an implementation of the Fruchertman and Reingold force directed layout (with some modifications).
    </p>
	<p>
        It uses attractive and repulsive forces, which aim to produce a drawing with uniform distance between each set of connected vertices. Because of that the drawing tends to be symmetrical.
	</p>
	<p>
	    The attractive and repulsive forces are coupled in an instance of the <b>NDesiredDistanceForce</b> class, accessible from the <b>DesiredDistanceForce</b> property. 
	</p>
	<p>
	  To experiment with the layout behavior just change the properties of the layout in the property grid and click the <b>Layout</b> button.
	</p>
</description>
