<!-- Recognized tags -->
<description>
	<p>
        The baloon tree layout tries to compact the drawing area of the tree 
        by placing the vertices in balloons around the tree root.
        It produces straight line tree drawings. 
    </p>
    <p>        
        Following is a brief description of its properties:
		<ul>
			<li>
			    <b>ParentChildSpacing</b> - the preferred spacing between a parent and a child
			    vertex in the layout direction. The real spacing may be different for some nodes,
			    because the layout does not allow overlappings.
			</li>
			<li>
			    <b>VertexSpacing</b> - the minimal spacing between 2 nodes in the layout.
			    If set to 0, the nodes will touch each other.
			</li>
			<li>
			    <b>ChildWedge</b> - the sector angle (measured in degrees) for the children
			    of each vertex.
			</li>
			<li>
			    <b>RootWedge</b> - the sector angle (measured in degrees) for the children
			    of the root vertex.
			</li>
			<li>
			    <b>StartAngle</b> - the start angle for the children of the root vertex, measured in
			    degrees anticlockwise from the x-axis.
			</li>
		</ul>
	</p>
	<p>
		To experiment with the layout just change its properties from the property grid and click the <b>Layout</b> button.
	</p>
</description>