<!-- Recognized tags -->
<description>
	<p>
        The table layout is a directed cells layout, which arranges cells in a tabular manner.
    </p>
	<p>
	    The most important properties of this layout are:
		<ul>
		    <li>
			    <b>Direction</b> - determines the direction in which the layout arranges adjacent cells.
			</li>
		    <li>
		        <b>HorizontalContentPlacement and VerticalContentPlacement</b> - determine the default placement
		            of the cell content in regards to the X or the Y dimension of the cell bounds.
		    </li>
		    <li>
		        <b>HorizontalSpacing and VerticalSpacing</b> - determine the minimal spacing between 2 cells in
		            horizontal and vertical direction respectively.
		    </li>
			<li>
			    <b>ConstrainMode</b> - defines the mode, in which the flow layout expansion is constrained in the flow direction. By default set to Size.
			</li>
			<li>
			    <b>EqualCellsSize</b> - specifies whether the cells in the table must have an equal size. By default set to false.
			</li>
			<li>
			    <b>MaxOrdinal</b> - defines the maximum ordinal to which the layout can expand. Only applicable if ConstrainMode is set to Ordinal.
  			</li>
		</ul>
	</p>
	<p>
		To experiment with their behavior just change the properties of the layout in the property grid and click the <b>Layout</b> button.
	</p>
</description>
